<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Indicações Favoritas em {{Mes}}/{{Ano}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    <style>
        table.table tbody tr td {
            border-left: 1px solid #718698;
        }

        table.table tbody tr td:first-child {
            border: none;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="display-1">Indicações Favoritas em {{Mes}}/{{Ano}}</h1>
    <br/>
    <div>
        <table class="table table-sm table-striped">
            <thead class="table-light">
            <tr>
                <th scope="col" class="text-nowrap">Código</th>
                <th scope="col" class="text-nowrap">Nome</th>
                <th scope="col" class="text-nowrap">Segmento</th>
                <th scope="col" class="text-nowrap">Administrador</th>
                <th scope="col" class="text-nowrap">P/VPA</th>
                <th scope="col" class="text-nowrap">Yield 1 Mês</th>
                <th scope="col" class="text-nowrap">Yield 12 Meses</th>
                <th scope="col" class="text-nowrap">Peso</th>
                <th scope="col" class="text-nowrap">Corretoras</th>
            </tr>
            </thead>
            <tbody>
            {{#Indicacoes}}
                <tr>
                    <td>{{Codigo}}</td>
                    <td>{{Nome}}</td>
                    <td>{{Segmento}}</td>
                    <td>{{Administrador}}</td>
                    <td>{{PVpa}}</td>
                    <td>{{Yield1Mes}}%</td>
                    <td>{{Yield12Meses}}%</td>
                    <td>{{Peso}}%</td>
                    <td>{{#Corretoras}}{{.}}{{/Corretoras}}</td>
                </tr>
            {{/Indicacoes}}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>